title: Giovanni Fontana
subtitle: Specialist Solution Architect
description: >- # this means to ignore newlines until "baseurl:"
  Specialist Solution Architect at Red Hat | Red Hat Certified Architect (RHCA) | Author of “OpenShift Multi-Cluster Management Handbook”

url: "https://giofontana.github.io" # the base hostname & protocol for your site, e.g. https://example.github.io
baseurl: "/" # the subpath of your site, e.g. /blog

# Navigation
urls:
    - text: Home
      url: /
    - text: About
      url: /about
    - text: Blog
      url: /blog
#    - text: Gallery
#      url: /gallery
#    - text: Shop
#      url : /shop
#    - text: Contact
#      url : /contact


# Edit Author details (For multi authors check _data/authors.yml)

author_logo: profile.jpeg
author: Giovanni Fontana
author_bio: "Specialist Solution Architect at Red Hat North America. Red Hat Certified Architect (RHCA) and author of the \"OpenShift Multi-Cluster Management Handbook\" (Packt, 2022). <br> Check out my book on Amazon: <a href=\"https://www.amazon.com/OpenShift-Multi-Cluster-Management-Handbook-architecture/dp/1803235284\" target=\"_blank\">OpenShift Multi-Cluster Management Handbook</a>."
author_email: ""
author_location: Westford, MA, USA
author_website_url: "https://giofontana.github.io"
typewrite-text: Specialist Solution Architect | Red Hat Certified Architect (RHCA) | Author of “OpenShift Multi-Cluster Management Handbook”
hero_cover_img: banner-v2.jpeg # replace this for changing homepage cover (eg. try cover.jpeg). Image should be in /assets/img

# Experiences
author_work_experiences:
            - company_name: Red Hat
              company_logo: redhat.png
              company_url: https://redhat.com
              designation: Specialist Solution Architect
              description: Support customers in the US Northeast region to understand how Red Hat’s solutions will give them a competitive advantage and help them achieve their business objectives.
              visibility: true
            - company_name: Hewlett Packard Enterprise
              company_logo: hpe.jpeg
              company_url: https://www.hpe.com/
              designation: Cloud & DevOps Solution Architect
              description: Assisted customers to achieve best results conducting DevOps processes assessment, design of continuous integration and delivery processes, integrating tools from different vendors.
              visibility: true
            - company_name: Wipro
              company_logo: wipro.jpeg
              company_url: https://www.wipro.com/
              designation: Lead Consultant
              description: Responsible to lead test automation practice at Wipro in Brazil
              visibility: true       
            - company_name: Accenture
              company_logo: accenture.jpeg
              company_url: https://www.accenture.com/
              designation: System Analyst
              description: New development and maintenance of large scale Java EE applications.
              visibility: true                      

# Education
author_education_details:
              - college_logo: mit.png
                college_name: MIT Professional Education
                college_url: https://professionalprogramsmit.com/
                college_degree: "Applied Agentic AI for Organizational Transformation (in progress)"
                description: Artificial Intelligence, Large Language Models, Generative AI, Agentic AI
                visibility: true
              - college_logo: mit.png
                college_name: MIT Professional Education
                college_url: https://professionalprogramsmit.com/
                college_degree: "Applied Data Science Program: Leveraging AI for Effective Decision-Making"
                description: Artificial Intelligence, Machine Learning, Data Science, Deep Learning, NLP, Computer Vision
                visibility: true
              - college_logo: uspoficial_logo.jpeg
                college_name: USP
                college_url: https://www.usp.br/
                college_degree: Bachelor, Computer Science
                description: Bachelor of Computer Science
                visibility: true                

# Projects
author_project_details:
              - project_thumbnail: book2.jpg
                project_title: "OpenShift Multi-Cluster Management Handbook: Go from architecture to pipelines using GitOps"
                project_description: |
                  Discover best practices for designing and scaling robust OpenShift clusters' architecture for different workloads.
                  Manage multiple clusters on-premise or in the cloud using multi-cluster management tools to keep them secure and compliant.
                  Implement multi-cluster CI/CD on OpenShift using GitOps.
                project_url: https://www.amazon.com/dp/1803235284
                visibility: true

# social links
#twitter_username: xplor4r
github_username:  giofontana
# instagram_username: xplor4r
# facebook_username: johndoe
linkedin_username: gfontana
# behance_username: johndoe
# medium_username: johndoe
# telegram_username: johndoe
# dribbble_username: johndoe
# flickr_username: johndoe

#for comments ( we got Disqus and Hyvor Commenting, uncomment the one you want to use )

# disqus_shortname: sujay-kundu
# hyvor_talk_website_id: 476

# wakatime username (coding activity)
# wakatime_username: sujaykundu777

# mailchimp embedded form url (newsletter):
# mailchimp_form_url: https://sujaykundu.us10.list-manage.com/subscribe/post?u=50bab1c85eae24ecfb0f68361&amp;id=3a2dd721d0

# contact form - (choose formspress or getform)
# getform_endpoint: 83b703c3-9e47-4df4-ac55-e24d7eb02abc
# formspree_email: johndoe@gmail.com

# releases - widget can be (sidebar, modal or embed)
olvy_organization: devlopr
olvy_widget_type: sidebar

# syntax highlighter
markdown: kramdown
highlighter: rouge
permalink: pretty

# Choose what to show ( can be true or false)
show_author_work_experiences: true
show_author_education_details: true
show_author_project_details: true

# pagination of posts
paginate: 8
per_page: 4
paginate_path: "/blog/page/:num/"

# minify
# compress_html:
#   clippings: all
#   comments: ["<!-- ", " -->"]
#   endings: all
#   ignore:
#     envs: ['development']

# Archives
# jekyll-archives:
#   enabled:
#     - categories
#   layout: archive
#   permalinks:
#     category: '/category/:name/'

collections:
  products:
    output: true
  authors:
    output: true

defaults:
  -
    scope:
      path: "gallery"
    values:
      permalink: /:path/:basename:output_ext
  -
    scope:
      path: ""
      type: authors
    values:
      layout: author
      permalink: /blog/authors/:slug
  -
    scope:
      path: 'assets/**'
    values:
      sitemap: false

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed

  # jekyll admin is causing issues with github pages, so it's disabled by default
  # - jekyll-admin 

# Jekyll Admin Config
# jekyll_admin:
  # hidden_links:
  #   - posts
  #   - pages
  #   - staticfiles
  #   - datafiles
  #   - configuration
  # homepage: "posts"


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.

### Switching Deployment Strategy (in DEPLOY_STRATEGY) file change the key accordingly:
# none - For no default
# gh-pages - For Github Pages
# firebase - For Firebase Hosting

sass:
  sass_dir: _sass
  style: compressed

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - assets/bower_components/isotope-layout/README.md
  - assets/bower_components/icono/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-svg-core/README.md
  - assets/bower_components/ghosthunter/README.md
  - assets/bower_components/nanobar/README.md
  - assets/bower_components/lightgallery/demo/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-brands-svg-icons/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/free-solid-svg-icons/README.md
  - assets/bower_components/jquery-mousewheel/README.md
  - assets/bower_components/get-size/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome/README.md
  - assets/bower_components/jquery-mousewheel/ChangeLog/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-regular/README.md
  - assets/bower_components/desandro-matches-selector/README.md
  - assets/bower_components/ev-emitter/README.md
  - assets/bower_components/font-awesome/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-solid/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-webfonts/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-free-brands/README.md
  - assets/bower_components/font-awesome/advanced-options/use-with-node-js/fontawesome-common-types/README.md
  - assets/bower_components/ghosthunter/example/Index.html
  - assets/bower_components/lightgallery/test/lightgallery.html
  - assets/bower_components/masonry-layout/README.md
  - assets/bower_components/imagesloaded/README.md


destination: ./build
